{% extends 'basement.html' %}
{% block main %}
<h3>{{ title }}</h3>
<div class="table-responsive">
   <table class="table table-striped">
        <thead>
            <tr>
            {% for th in heads %}
                <th>{{ th }}</th>
            {% endfor %}
            </tr>
        </thead>
       <tbody>
            {% for item in items %}
                <tr>
                    {% for col in cols %}
                        <td>{{ item[col] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
       </tbody>
    </table>
</div>
{% endblock %}